html {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-decoration: underline;
}
#container {
    position: absolute;
    width: 300px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
ul {
    text-align: left;
}
#first {
    font-size: 1.1rem;
}
.deleteButton {
    position: relative;
    left: 10px;
    width: 50px;
    border-radius: 2px;
}
.done {
      text-decoration: line-through;
}
